# Dependências do Node.js
node_modules/
package-lock.json

# Arquivos de build e cache
dist/
.cache/

# Logs
logs/
*.log

# Diretórios temporários
temp/
.tmp/

# Configurações do Editor (VS Code, JetBrains, etc.)
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Credenciais e variáveis de ambiente
.env
.env.local
.env.*.local
